*~
*.nm
*.elf
*.hex
*.itb
*.map
*.o
*.so
*.objdump
*.readelf
*.gtkw
*.vcd
*.vsif
*.sve
*.sdb
test_build
dsim.env
dsim.log
dsim_results
metrics.db
metrics_history.db
xrun_results
vsim_results
vmgr_sessions
__pycache__
*.swp
/.cproject
/.project
.dvt/
dvt_build.log
xrun.history
xrun.log
xrun.key
xcelium.d/
waves.shm/
*.log
stdout.txt
.vscode
cva6
cv32e20
riviera_results/
*/vendor_lib/dpi_dasm_spike/
*/vendor_lib/verilab/svlib/
work*
vsim.dbg
*.wlf
transcript
.lib-rtl
.opt-rtl
tools/spike
tools/verilator*
*_results/
*.signature_output
ucli.key
vcs.cmd
